:root{
    --body_font_size: 16px;
    --header_font_size: 20px;
    --timestamp_font_size: 12px;
}
*{
    font-family: monospace;
    font-size: var(--body_font_size);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: #f7f7f7;
    color: #333;
}
h{
    font-size: var(--header_font_size);
}
.timestamp{
    font-size: var(--timestamp_font_size);
}
.content{
    margin-top: var(--body_font_size);
}
.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
}
