:root{
    --body_font_size: 16px;
    --header_font_size: 20px;
    --timestamp_font_size: 12px;
}
*{
    font-family: monospace;
    user-select: none;
    font-size: var(--body_font_size);
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: #f7f7f7;
    color: #333;
}
.content{
    display: none;
    cursor: pointer;
    margin-top: var(--body_font_size);
    line-height: normal;
}
h{
    font-size: var(--header_font_size);
}
.timestamp{
    font-size: var(--timestamp_font_size);
}
.poem {
    text-align: justify;
    line-height: calc(var(--body_font_size) / 2)
}
.poem p:after {
    content: "";
    display: inline-block;
    width: 100%;
}
